[Desktop Entry]
Name=Tutanota Desktop
Comment=The desktop client for Tutanota, the secure e-mail service.
GenericName=Mail Client
Keywords=Email;E-mail
Exec=${SNAP}/bin/start.sh %U
Terminal=false
Type=Application
Icon=${SNAP}/opt/tutanota/icon_256x256.png
StartupWMClass=tutanota-desktop
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-Tutanota-Version=#tutanota_version#
TryExec=${SNAP}/bin/start.sh

